# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/
.nyc_output/

# Production
build/
dist/
out/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Solana & Anchor
.anchor/
target/
test-ledger/
.solana/
deploy/
keys/
*.so

# Arcium
.arcium/
mxe_state/
computation_cache/

# Vercel
.vercel

# Next.js
.next/
*.md
!README.md
!**/README.md