[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
private_markets = "G2jEumrainCsS2T1y6aMRgPoXw7LRygC8npNUVk8bzro"

[programs.devnet]
private_markets = "DkZ8hXcjyoYTWUDD4VZ35PXP2HHA6bF8XRmSQXoqrprW"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[workspace]
members = [
    "programs/*"
]
